# Date Extraction from Medical Notes

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd
import numpy as np
doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [2]:
df = df.to_frame().rename(columns={0:'Text'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 1 columns):
Text    500 non-null object
dtypes: object(1)
memory usage: 4.0+ KB

## 1. Extract Dates Formatted Month/Day/Year, Month/Year

### Example:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* 6/2008; 12/2009

### Pattern: 
   - No \[word character or '/'\] precedes the string
   2. ((1-2 digits)'/') appears once or twice, indicating either Month/Day or Month
   3. (2 or 4 digits) appears once, indicating either YY or YYYY
   4. The string is not followed by \[word character or '/'\]

### Verification: 
   - Convert the Date column to 'datetime' data type. Strings successfully converted are valid dates.
   2. Check if there is at most one match for each entry.
   3. Record the number of dates filled.

In [3]:
# Check if each entry only has one date
# match not followed by or preceded by'/'
# new_df = df['Text'].str.extractall(r'((?<![\w\/])(?:\d{1,2}\/){1,2}(?:\d{4}|\d{2})(?![\w\/]))') 
new_df = df['Text'].str.extractall(r'((?<![\w\/])(?:\d{1,2}\/){1,2}(?:\d{4}|\d{2})(?![\w\/]))') 
new_df.reset_index(inplace=True)
new_df.info() # 231 matches for 230 instances
new_df[new_df['match'] == 1]
# Return '16/22', the second match of Instance 10, and it's not a valid date.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 3 columns):
level_0    231 non-null int64
match      231 non-null int64
0          231 non-null object
dtypes: int64(2), object(1)
memory usage: 5.5+ KB

    level_0  match      0
11       10      1  16/22

In [4]:
# Only extract the first match if any, and create a new column 'Date'.
selection_1 = df['Text'].str.contains(r'((?<![\w\/])(?:\d{1,2}\/){1,2}(?:\d{4}|\d{2})(?![\w\/]))').copy()
df.loc[selection_1,'Date'] = df.loc[selection_1,'Text'].str.extract(r'((?<![\w\/])(?:\d{1,2}\/){1,2}(?:\d{4}|\d{2})(?![\w\/]))')

# Add '19' before the two-digit year for xx/xx/xx
df.loc[selection_1,'Date'] = df.loc[selection_1,'Date'].str.replace(r'((?<![\w\/])(?:\d{1,2}\/){1,2}\d{2}(?![\w\/]))', lambda x: x.group(0)[:-2]+'19'+x.group(0)[-2:])

# Verify the number of dates added
df.info() # 230 dates added, 270 remaining
df.head(10)

# Alternative methods using map or apply
# len(df[(df['Date'].map(type) == pd._libs.tslib.Timestamp) == True])
# df.apply(lambda x: type(x['Date']) == pd._libs.tslib.Timestamp,axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
Text    500 non-null object
Date    230 non-null object
dtypes: object(2)
memory usage: 7.9+ KB

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  from ipykernel import kernelapp as app
/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  app.launch_new_instance()

                                                Text        Date
0       03/25/93 Total time of visit (in minutes):\n  03/25/1993
1                     6/18/85 Primary Care Doctor:\n   6/18/1985
2  sshe plans to move as of 7/8/71 In-Home Servic...    7/8/1971
3              7 on 9/27/75 Audit C Score Current:\n   9/27/1975
4  2/6/96 sleep studyPain Treatment Pain Level (N...    2/6/1996
5                  .Per 7/06/79 Movement D/O note:\n   7/06/1979
6  4, 5/18/78 Patient's thoughts about current su...   5/18/1978
7  10/24/89 CPT Code: 90801 - Psychiatric Diagnos...  10/24/1989
8                       3/7/86 SOS-10 Total Score:\n    3/7/1986
9           (4/10/71)Score-1Audit C Score Current:\n   4/10/1971

## 2. Extract Dates Formatted Month(alphabetic) Day Year

### Example: 

* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009

### Pattern: 
   - (An alphabetic character) appears at least 3 times, indicating the month
   2. [non-word character] appears at least once
   3. The following appears 0-1 times
      - (1-2 digits) appears once, followed by (2 alphabetic character) 0-1 times, indicating the day
      - [non-word character] appears at least once
   5. (4 digits) appears once, indicating the year

### Verification: 
   - Convert the Date column to 'datetime' data type. Strings successfully converted are valid dates.
   2. Check if there is at most one match for each entry.
   3. Search if there is overlapping with the dates already filled above
   4. Record the number of dates filled.

In [5]:
# Check if each entry only has one date
new_df = df['Text'].str.extractall(r'((?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(?:Nov|Dec)(?:ember)?)\W*\d{1,2}(?:st|nd|rd|th)?\W+(?:\d{4}|\d{2})(?!\d))')
# new_df = df['Text'].str.extractall(r'(\b[a-zA-Z]{3,}\b(?:\d{1,2}(?:st|nd|rd|th)?)?\b\d{2,4})')
new_df.reset_index(inplace=True)
new_df.info() # 34 matches for 34 instances
new_df[new_df['match'] == 1] # Return empty, meaning only one such match for each instance if any

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
level_0    34 non-null int64
match      34 non-null int64
0          34 non-null object
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes

Empty DataFrame
Columns: [level_0, match, 0]
Index: []

In [6]:
# Check if there's overlapping with the first format.
selection_2 = df['Text'].str.contains(r'((?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(?:Nov|Dec)(?:ember)?)\W*\d{1,2}(?:st|nd|rd|th)?\W+(?:\d{4}|\d{2})(?!\d))')
flag = True
for i in df.loc[selection_1].index:
    if i in df.loc[selection_2].index: 
        flag = False
        print('It overlaps with the first format.')
        break
if flag: print('It does not overlap with the first format.')
print('-'*40)
# Add dates
df.loc[selection_2,'Date'] = df.loc[selection_2,'Text'].str.extract(r'((?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(?:Nov|Dec)(?:ember)?)\W*\d{1,2}(?:st|nd|rd|th)?\W+(?:\d{4}|\d{2})(?!\d))')

# Verify the number of dates added
df.info() # 34 dates added, 264 overall, 236 remaining
df.sample(20)

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  from ipykernel import kernelapp as app

It does not overlap with the first format.
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
Text    500 non-null object
Date    264 non-null object
dtypes: object(2)
memory usage: 7.9+ KB

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:12: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

                                                  Text        Date
422                      4/1973 Primary Care Doctor:\n      4/1973
324  Hep C and HIV negative, LFTs WNL (October 1996...         NaN
432  s Pt. is a 76-y.o. WWW who presents in the con...      4/1999
423  Polyarteritis nodosa, presumed (p/w LE claudic...     12/1986
135    .On 10 Oct 1985 patient began FMLA from work.\n         NaN
265  .  Pt reports h/o difficulty with EtOH and opi...         NaN
326  . Once off Cymbalta, mood was stable and good,...         NaN
61      8/06/83 CPT Code: 90791: No medical services\n   8/06/1983
333         sNovember 1997 - suicidal ideation - HHR\n         NaN
280  s1 admission to Psychiatric Inpatient in July ...         NaN
278  SA in September 1974, OD on luvoxHx of Non Sui...         NaN
54     12/26/86 CPT Code: 90791: No medical services\n  12/26/1986
355                      3/1981 Primary Care Doctor:\n      3/1981
239  . In Feb 1978, misdxed with STD- had plan to O...         NaN
24   07/25/1984 CPT Code: 90791: No medical services\n  07/25/1984
406                     12/1994 Primary Care Doctor:\n     12/1994
140                 14 Feb 1995 Primary Care Doctor:\n         NaN
130    25 Oct 1987 Total time of visit (in minutes):\n         NaN
388  see above.   Last cutting in 3/1995 Violent Be...      3/1995
286  father died suddenly in January 2013 Meaningfu...         NaN

## 3. Extract Dates Formatted of Day Month(alphabetic) Year

### Example: 

* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009


### Pattern: 
   - (1-2 digits) appears once, followed by (2 alphabetic character) 0-1 times, indicating the day
   2. [non-word character] appears at least once
   3 (An alphabetic character) appears at least 3 times, indicating the month
   4. [non-word character] appears at least once
   5. (4 digits) appears once, indicating the year

### Verification: 
   - Convert the Date column to 'datetime' data type. Strings successfully converted are valid dates.
   2. Check if there is at most one match for each entry.
   3. Search if there is overlapping with the dates already filled above
   4. Record the number of dates filled.

In [7]:
# Check if each entry only has one date
new_df = df['Text'].str.extractall(r'((?<![\d])\d{1,2}(?:st|nd|rd|th)?\W*(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(?:Nov|Dec)(?:ember)?)\W*\d{4}(?!\d))')
# new_df = df['Text'].str.extractall(r'(\b[a-zA-Z]{3,}\b(?:\d{1,2}(?:st|nd|rd|th)?)?\b\d{2,4})')
new_df.reset_index(inplace=True)
new_df.info() # 70 matches for 70 instances
new_df[new_df['match'] == 1] # Return empty, meaning only one such match for each instance if any

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 3 columns):
level_0    70 non-null int64
match      70 non-null int64
0          70 non-null object
dtypes: int64(2), object(1)
memory usage: 1.7+ KB

Empty DataFrame
Columns: [level_0, match, 0]
Index: []

In [8]:
# Check if there's overlapping with the first format.
selection_3 = df['Text'].str.contains(r'((?<![\d])\d{1,2}(?:st|nd|rd|th)?\W*(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(?:Nov|Dec)(?:ember)?)\W*\d{4}(?!\d))')
flag = True
for i in df.loc[selection_3].index:
    if i in df.loc[selection_1].index:
        flag = False
        print('It overlaps with the first format.')
        print(df.loc[i])
    if i in df.loc[selection_2].index: 
        flag = False
        print('It overlaps with the second format.')
        print(df.loc[i])
if flag: print('It does not overlap with the previous formats.')
print('-'*40)
# Add dates
df.loc[selection_3,'Date'] = df.loc[selection_3,'Text'].str.extract(r'((?<![\d])\d{1,2}(?:st|nd|rd|th)?\W*(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(?:Nov|Dec)(?:ember)?)\W*\d{4}(?!\d))')

# Verify the number of dates added
df.info() # 70 dates added, 334 overall, 166 remaining
df.sample(20)

It does not overlap with the previous formats.
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
Text    500 non-null object
Date    334 non-null object
dtypes: object(2)
memory usage: 7.9+ KB

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  from ipykernel import kernelapp as app
/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:16: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

                                                  Text          Date
404                     10/1986 Primary Care Doctor:\n       10/1986
21                      10/21/79 SOS-10 Total Score:\n    10/21/1979
14   5/24/1990 CPT Code: 90792: With medical servic...     5/24/1990
102  07/18/2002 CPT Code: 90792: With medical servi...    07/18/2002
101    10/05/97 CPT Code: 90791: No medical services\n    10/05/1997
379                      8/2009 Primary Care Doctor:\n        8/2009
345                  10/1973 Hx of Brain Injury: Yes\n       10/1973
393                        4/2012 open heart surgery\n        4/2012
360                     12/2008 Primary Care Doctor:\n       12/2008
216   Nov 11, 1988 Total time of visit (in minutes):\n  Nov 11, 1988
148  .On 02 Feb 1978 patient was seen by Dr. Fisher...   02 Feb 1978
463  s      25 year old engaged to be married Optic...           NaN
114                      12/8/97 SOS-10 Total Score:\n     12/8/1997
280  s1 admission to Psychiatric Inpatient in July ...           NaN
313  nLoss of father to cardiac event in Decemeber ...           NaN
145                  18 Oct 1999 SOS-10 Total Score:\n   18 Oct 1999
84         5/18/71 Total time of visit (in minutes):\n     5/18/1971
9             (4/10/71)Score-1Audit C Score Current:\n     4/10/1971
460                          1 Ex-smoker : quit 2012\n           NaN
339  Currently on Zoloft, 50 mg, Dicolenac, 100 mg,...           NaN

## 4. Extract Dates Formatted of Month(alphabetic) Year

### Example: 

* Feb 2009; Sep 2009; Oct 2010

Find these dates among the rest of the instances that haven't had any date value yet.

### Pattern: 
   - (An alphabetic character) appears at least 3 times, indicating the month
   4. [non-word character] appears at least once
   5. (4 digits) appears once, indicating the year

In [9]:
# Check if each entry only has one date
new_df = df.loc[df['Date'].isnull(),'Text'].str.extractall(r'(\b(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(?:Nov|Dec)(?:ember)?)\W*\d{4}(?!\d))')
new_df.reset_index(inplace=True)
new_df.info() # 105 matches for 105 instances
new_df[new_df['match'] == 1] # Return empty, meaning only one such match for each instance if any

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 3 columns):
level_0    105 non-null int64
match      105 non-null int64
0          105 non-null object
dtypes: int64(2), object(1)
memory usage: 2.5+ KB

Empty DataFrame
Columns: [level_0, match, 0]
Index: []

In [10]:
# Add dates
df.loc[df['Date'].isnull(),'Date'] = df.loc[df['Date'].isnull(),'Text'].str.extract(r'(\b(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(?:Nov|Dec)(?:ember)?)\W*\d{4}(?!\d))')
# Verify the number of dates added
df.info() # 105 dates added, 439 overall, 61 remaining
df.sample(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
Text    500 non-null object
Date    439 non-null object
dtypes: object(2)
memory usage: 7.9+ KB

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  from ipykernel import kernelapp as app

                                                  Text           Date
154                 06 Mar 1974 Primary Care Doctor:\n    06 Mar 1974
101    10/05/97 CPT Code: 90791: No medical services\n     10/05/1997
426  Retired in 11/1984 after teaching for 30 years...        11/1984
295                 sKern Hospital March 1983 for SI\n     March 1983
209  July 25, 1983 Total time of visit (in minutes):\n  July 25, 1983
467  aS/P suicide attempt 2011 Hx of Outpatient Tre...            NaN
350                      5/2004 Primary Care Doctor:\n         5/2004
477  oEnjoys animals, had a dog x 14 yrs who died i...            NaN
199  .Came back to US on Jan 24 1986, saw Dr. Quack...    Jan 24 1986
54     12/26/86 CPT Code: 90791: No medical services\n     12/26/1986
425  sS/P TAH/BSO : 7/2004 for endometrial hyperpla...         7/2004
59                    08/20/1982 SOS-10 Total Score:\n     08/20/1982
308  dCelexa: most helpful, came off half-way throu...       Feb 1994
478  eHistory of small right parietal subgaleal hem...            NaN
268  . Was on lexapro and strattera with good resul...       Dec 2009
489      ran own business for 35 years, sold in 1985\n            NaN
92   .APS - Psychiatry consult paged/requested in p...     04/08/2004
367  rtherapy: Patient states that she will follow ...         9/2001
302  Hx of 3 instances that pt believes were concus...  November 2004
58               0: 12/5/2010 Audit C Score Current:\n      12/5/2010

## 5. Extract Dates in Format of Year

### Example: 

* 2009; 2010

Find these dates among the rest of the instances that haven't had any date value yet.

### Pattern: 

   - (4 digits) appears once, indicating the year
   - No digits precede or follow the sub-string

In [11]:
# Check if each entry only has one date
new_df = df.loc[df['Date'].isnull(),'Text'].str.extractall(r'((?<!\d)\W*\d{4}(?!\d))')
new_df.reset_index(inplace=True)
new_df.info() # 56 matches for 56 instances
new_df[new_df['match'] == 1] # Return empty, meaning only one such match for each instance if any

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 3 columns):
level_0    56 non-null int64
match      56 non-null int64
0          56 non-null object
dtypes: int64(2), object(1)
memory usage: 1.4+ KB

Empty DataFrame
Columns: [level_0, match, 0]
Index: []

In [12]:
# Add dates
df.loc[df['Date'].isnull(),'Date'] = df.loc[df['Date'].isnull(),'Text'].str.extract(r'((?<!\d)\W*\d{4}(?!\d))')
# Verify the number of dates added
df.info() # 56 dates added, 495 overall, 5 remaining
df.sample(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
Text    500 non-null object
Date    495 non-null object
dtypes: object(2)
memory usage: 7.9+ KB

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  from ipykernel import kernelapp as app

                                                  Text           Date
135    .On 10 Oct 1985 patient began FMLA from work.\n    10 Oct 1985
408                      e Pace Maker placed 10/2010\n        10/2010
128  Tbooked for intake appointment at Sierra Vista...   28 June 2002
134                  14 Jan 1981 SOS-10 Total Score:\n    14 Jan 1981
19   ) 59 yo unemployed w referred by Urgent Care f...      5/21/1977
23    2/11/76 CPT Code: 90792: With medical services\n      2/11/1976
370  4 (9/1975)Patient's thoughts about current sub...         9/1975
249  0h/o 3 detoxes (2 for EtOH, 1 opioids).  Alask...     April 1993
362  md. metabolic montioring as indicated inc. ann...         8/2003
465  .Age, 19, 1976, playing football, frontal impa...           1976
225  June 15, 1972 Family Psych History: Family His...  June 15, 1972
397                      2/1983 Primary Care Doctor:\n         2/1983
59                    08/20/1982 SOS-10 Total Score:\n     08/20/1982
368           craniotomy 8/1986 Prior relevant labs:\n         8/1986
396                      8/2008 Primary Care Doctor:\n         8/2008
50     sOP WPM - Dr. Romo-psychopharm since 11/22/75\n     11/22/1975
342  5Bethania Hospital March 1976 Hx of Outpatient...     March 1976
25   4-13-82 Other Child Mental Health Outcomes Sca...            NaN
489      ran own business for 35 years, sold in 1985\n           1985
425  sS/P TAH/BSO : 7/2004 for endometrial hyperpla...         7/2004

## 6. Deal with the Rest

There are still 5 instances left.

In [13]:
df.loc[df['Date'].isnull()] # [25,39,40,71,99]

                                                 Text Date
25  4-13-82 Other Child Mental Health Outcomes Sca...  NaN
39  1-14-81 Communication with referring physician...  NaN
40  7-29-75 CPT Code: 90801 - Psychiatric Diagnosi...  NaN
71  4-13-89 Communication with referring physician...  NaN
99                 011/14/83 Audit C Score Current:\n  NaN

In [14]:
df.loc[[25,39,40,71],'Date'] = df.loc[[25,39,40,71],'Text'].str[:5] + '19' + df.loc[[25,39,40,71],'Text'].str[5:7]
df.loc[99,'Date'] = df.loc[99,'Text'][1:7] + '19' + df.loc[99,'Text'][7:9]
df.info()
df.loc[[25,39,40,71,99]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
Text    500 non-null object
Date    500 non-null object
dtypes: object(2)
memory usage: 7.9+ KB

                                                 Text        Date
25  4-13-82 Other Child Mental Health Outcomes Sca...   4-13-1982
39  1-14-81 Communication with referring physician...   1-14-1981
40  7-29-75 CPT Code: 90801 - Psychiatric Diagnosi...   7-29-1975
71  4-13-89 Communication with referring physician...   4-13-1989
99                 011/14/83 Audit C Score Current:\n  11/14/1983

In [15]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df[df['Date'].isnull()]

                                                  Text Date
321               2June, 1999 Audit C Score Current:\n  NaT
462     sLexapro (1988-now): Good response (anxiety)\n  NaT
472  .2010 - wife; nightmares and angry outbursts; ...  NaT
473       shx of TBI (1975) ISO MVA.Medical History:\n  NaT
478  eHistory of small right parietal subgaleal hem...  NaT
480  1. Esophageal cancer, dx: 2013, on FOLFOX with...  NaT
496  therapist and friend died in ~2006 Parental/Ca...  NaT

In [16]:
df.loc[321,'Date'] = pd.to_datetime('2 June, 1999')
df.loc[321,'Date']

Timestamp('1999-06-02 00:00:00')

In [17]:
df.sort_values(by='Date')

                                                  Text       Date
9             (4/10/71)Score-1Audit C Score Current:\n 1971-04-10
84         5/18/71 Total time of visit (in minutes):\n 1971-05-18
2    sshe plans to move as of 7/8/71 In-Home Servic... 1971-07-08
53                       7/11/71 SOS-10 Total Score:\n 1971-07-11
28                              9/12/71 [report_end]\n 1971-09-12
474  sPatient reported losing three friends that pa... 1972-01-01
153                 13 Jan 1972 Primary Care Doctor:\n 1972-01-13
13   1/26/72 Communication with referring physician... 1972-01-26
129                  06 May 1972 SOS-10 Total Score:\n 1972-05-06
98   5/13/72 Other Adult Mental Health Outcomes Sca... 1972-05-13
111                      6/10/72 SOS-10 Total Score:\n 1972-06-10
225  June 15, 1972 Family Psych History: Family His... 1972-06-15
31      7/20/72 CPT Code: 90791: No medical services\n 1972-07-20
171    04 Oct 1972 Total time of visit (in minutes):\n 1972-10-04
191                  30 Nov 1972 SOS-10 Total Score:\n 1972-11-30
486  Contemplating jumping off building - 1973 - di... 1973-01-01
335  Open appendectomy, as a child. 2.  Laparoscopi... 1973-02-01
415                      2/1973 Primary Care Doctor:\n 1973-02-01
36   2/14/73 CPT Code: 90801 - Psychiatric Diagnosi... 1973-02-14
405  History of two suicide attempts, most recently... 1973-03-01
323  4ectopic pregnancy in March 1973 Pertinent Med... 1973-03-01
422                      4/1973 Primary Care Doctor:\n 1973-04-01
375                     06/1973 Primary Care Doctor:\n 1973-06-01
380  dPer Pt Intake from 7/1973: Sometimes has pass... 1973-07-01
345                  10/1973 Hx of Brain Injury: Yes\n 1973-10-01
57     12/01/73 CPT Code: 90791: No medical services\n 1973-12-01
481                                      y1974 (all)\n 1974-01-01
436                     "Tapered off Xanax in 2/1974\n 1974-02-01
104                      2/24/74 SOS-10 Total Score:\n 1974-02-24
299                  March 1974 Primary Care Doctor:\n 1974-03-01
..                                                 ...        ...
383  sober since 12/2012 after binge drinkingDrug U... 2012-12-01
244  s Mr. Moss is a 27-year-old, Caucasian, engage... 2013-01-01
286  father died suddenly in January 2013 Meaningfu... 2013-01-01
431  CBC, CMP, TSH, EKG: re: QTc 445 ms in 4/2013 C... 2013-04-01
279  .BY Sep 2013 patient called his PCP in Copenha... 2013-09-01
198  none; but currently has appt with new HJH PCP ... 2013-10-11
381         b fibroid tumor resection pending 1/2014\n 2014-01-01
463  s      25 year old engaged to be married Optic... 2014-01-01
366  1. Metastatic pancreatic adenocarcinoma, dx: 7... 2014-07-01
255  sOne week Memorial Psychiatric Hospital Oct 20... 2014-10-01
439  Since 10/2014: Fatigued, more forgetful, impai... 2014-10-01
401  . Depression- Since 12/2014 she has noticed mo... 2014-12-01
475                      TSH okay in 2015 Prior EKG:\n 2015-01-01
235  pOct 2015 - Admitted to Gray Clinic for depres... 2015-01-01
257  . Sep 2015- Transferred to Memorial Hospital f... 2015-09-01
152                 28 Sep 2015 Primary Care Doctor:\n 2015-09-28
464  8Complications from brain hemmorage in 2016 Ax... 2016-01-01
253       slast use Feb 2016 Sedative-Hypnotics: Yes\n 2016-02-01
231  50 yo DWF with a history of alcohol use disord... 2016-05-01
427  6e. monitor pt's depressive experience in cont... 2016-05-01
141                  30 May 2016 SOS-10 Total Score:\n 2016-05-30
186                 13 Oct 2016 Primary Care Doctor:\n 2016-10-13
161  19 Oct 2016 Communication with referring physi... 2016-10-19
413                     11/2016 Primary Care Doctor:\n 2016-11-01
462     sLexapro (1988-now): Good response (anxiety)\n        NaT
472  .2010 - wife; nightmares and angry outbursts; ...        NaT
473       shx of TBI (1975) ISO MVA.Medical History:\n        NaT
478  eHistory of small right parietal subgaleal hem...        NaT
480  1. Esophageal cancer, dx: 2013, on FOLFOX with...        NaT
496  therapist and friend died in ~2006 Parental/Ca...        NaT

[500 rows x 2 columns]

## Put Everything Together

In [18]:
def date_sorter():
    
    df = df.to_frame().rename(columns={0:'Text'})
    selection_1 = df['Text'].str.contains(r'((?<![\w\/])(?:\d{1,2}\/){1,2}(?:\d{4}|\d{2})(?![\w\/]))')
    df.loc[selection_1,'Date'] = df.loc[selection_1,'Text'].str.extract(r'((?<![\w\/])(?:\d{1,2}\/){1,2}(?:\d{4}|\d{2})(?![\w\/]))')
    # Add '19' before the two-digit year for xx/xx/xx
    df.loc[selection_1,'Date'] = df.loc[selection_1,'Date'].str.replace(r'((?<![\w\/])(?:\d{1,2}\/){1,2}\d{2}(?![\w\/]))', lambda x: x.group(0)[:-2]+'19'+x.group(0)[-2:])
    
    selection_2 = df['Text'].str.contains(r'((?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(?:Nov|Dec)(?:ember)?)\W*\d{1,2}(?:st|nd|rd|th)?\W+(?:\d{4}|\d{2})(?!\d))')
    df.loc[selection_2,'Date'] = df.loc[selection_2,'Text'].str.extract(r'((?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(?:Nov|Dec)(?:ember)?)\W*\d{1,2}(?:st|nd|rd|th)?\W+(?:\d{4}|\d{2})(?!\d))')

    selection_3 = df['Text'].str.contains(r'((?<![\d])\d{1,2}(?:st|nd|rd|th)?\W*(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(?:Nov|Dec)(?:ember)?)\W*\d{4}(?!\d))')
    df.loc[selection_3,'Date'] = df.loc[selection_3,'Text'].str.extract(r'((?<![\d])\d{1,2}(?:st|nd|rd|th)?\W*(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(?:Nov|Dec)(?:ember)?)\W*\d{4}(?!\d))')
    
    df.loc[df['Date'].isnull(),'Date'] = df.loc[df['Date'].isnull(),'Text'].str.extract(r'(\b(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(?:Nov|Dec)(?:ember)?)\W*\d{4}(?!\d))')
    
    df.loc[df['Date'].isnull(),'Date'] = df.loc[df['Date'].isnull(),'Text'].str.extract(r'((?<![\d])\d{4}(?!\d))')
    
    df.loc[[25,39,40,71],'Date'] = df.loc[[25,39,40,71],'Text'].str[:5] + '19' + df.loc[[25,39,40,71],'Text'].str[5:7]
    df.loc[99,'Date'] = df.loc[99,'Text'][1:7] + '19' + df.loc[99,'Text'][7:9]
    
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
    df.loc[321,'Date'] = pd.to_datetime('2 June, 1999')
    
    ans = pd.Series(df.sort_values(by='Date').index)
    return ans